# OpenAI API Key
OPENAI_API_KEY=

# SUPABASE
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# LLAMA CLOUD
LLAMA_CLOUD_API_KEY=

# REDUCTO
REDUCTO_API_KEY=

# Serp
SERPAPI_API_KEY=

# MODEL SETTINGS
EMBEDDING_MODEL=text-embedding-3-large
REASONING_MODEL=gpt-5.4-mini
TOP_K=10
